<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<script th:include="fragments/header :: headerScripts" th:remove="tag"></script>
	<!--	<script th:include="fragments/components :: header" th:remove="tag"></script>-->
</head>

<body>
	<div class="container">
		<div th:insert="fragments/components :: header"></div>

		<div th:replace="fragments/components :: menu"></div>
		</br> </br>
		<div th:replace="fragments/components :: myNavbar"></div>
		</br> </br>
		<h1>Strona domowa</h1>
		<div class="card">
			<div class="card-header">Featured</div>
			<div class="card-body">
				<h5 class="card-title">Special title treatment</h5>
				<p class="card-text">With supporting text below as a natural
					lead-in to additional content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
			</br> </br> Stopka
			<div th:include="fragments/components :: footer"></div>
		</div>
</body>

</html>